---
// Select UI to switch between locales.

import { getLocalePaths, LOCALES } from "@/i18n";
---

<label>
  <span class="material-icons-sharp">translate</span>
  <select data-languageSelect>
    {
      getLocalePaths(Astro.url).map(({ path, lang }) => (
        <option
          label={LOCALES[lang].label}
          value={path}
          data-lang={lang}
          selected={lang === Astro.currentLocale}
          dir={LOCALES[lang].dir || null}
        />
      ))
    }
  </select>
  <span class="material-icons-sharp">expand_more</span>
</label>

<script is:inline>
  const selects = document.querySelectorAll("[data-languageSelect]");

  selects.forEach((select) => {
    select.addEventListener("change", (event) => {
      // used for 404 page
      localStorage.selectedLang = event.target?.selectedOptions[0].dataset.lang;
      location.href = event.target?.value;
    });
  });
</script>

<style>
  label {
    position: relative;
    display: inline-block;
    width: 240px;
    text-align-last: left;
    .material-icons-sharp {
      pointer-events: none;
      position: absolute;
      color: var(--color-theme);
      &:first-child {
        font-size: 24px;
        inset: 8px auto 8px 8px;
        opacity: 0.4;
      }
      &:last-child {
        font-size: 28px;
        inset: 6px 6px 6px auto;
      }
    }
  }
  select {
    width: 100%;
    height: 40px;
    padding-inline: 38px;
    cursor: pointer;
    appearance: none;
    border-radius: 6px;
    font-family: "Noto Sans";
    color: var(--color-main);
    background-color: var(--color-base);
    border: 2px solid var(--color-theme);
  }
</style>
