---
// Returns a link to the top page of each locale

import { LOCALES } from "@/i18n";
---

{
  Object.entries(LOCALES).map(([lang, { label }]) => (
    <li>
      <a
        href={`/${lang}/`}
        onclick={`localStorage.selectedLang = "${lang}"`}
        dir={LOCALES[lang].dir || null}
        lang={lang}
      >
        {label}
      </a>
    </li>
  ))
}
