---
// Returns a link to the top page of each locale

import { LOCALES } from "@/i18n";
---

<>
  {
    Object.entries(LOCALES).map(([lang, { label }]) => (
      <li>
        <a
          href={`/${lang}/`}
          onclick={`setLang("${lang}")`}
          dir={LOCALES[lang].dir || null}
        >
          {label}
        </a>
      </li>
    ))
  }
</>

<script is:inline>
  // used for 404 page
  function setLang(lang) {
    localStorage.selectedLang = lang;
  }
</script>
