:root {
  @media (prefers-color-scheme: dark) {
    --color-theme: #f52;
    --color-base: #141e2b;
    --color-main: #eee;
  }
  @media (prefers-color-scheme: light) {
    --color-theme: #f52;
    --color-base: #eee;
    --color-main: #322;
  }

  --sp-l: 64px;
  --sp-m: 32px;
  --sp-s: 16px;
  @media (width < 480px) {
    --sp-l: 48px;
    --sp-m: 16px;
    --sp-s: 8px;
  }

  accent-color: var(--color-theme);
  color: var(--color-main);
  background-color: var(--color-base);
  background-image: radial-gradient(
    color-mix(in srgb, var(--color-main) 20%, transparent) 1px,
    var(--color-base) 1px
  );
  background-size: 16px 16px;
}

body {
  line-height: 1.6;
  font-weight: 500;
  font-size: 16px;
  font-family:
    "Futura",
    "Avenir Next",
    "Avenir",
    "Century Gothic",
    "var(--font-tazugane)",
    "Hiragino Sans",
    "Hiragino Kaku Gothic ProN",
    "Noto Sans JP",
    "Noto Sans CJK JP",
    "BIZ UDPGothic",
    Meiryo,
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
  font-feature-settings: "pkna" 1;
  font-kerning: normal;
  letter-spacing: 0.02em;
  @media (width < 480px) {
    font-size: 14px;
  }
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.4;
}

p {
  margin-top: 0.8em;
}

a,
button {
  transition: 0.2s ease-out;
  &:hover,
  &:active {
    transition: 0.2s ease-out;
  }
}

svg,
path {
  fill: currentColor;
  aspect-ratio: 1;
}

[class^="material-icons"] {
  vertical-align: -0.25em;
  font-size: 1.4em;
  line-height: 1;
}
