.l-body {
  display: flex;
  justify-content: center;
}

.l-nav {
  width: 320px;
  height: 100vh;
  position: sticky;
  top: 0;
  z-index: 0;
}

.l-main {
  flex: 1;
  z-index: 1;
}

.l-content {
  margin-inline: 64px;
}

.l-footer {
  margin-top: var(--sp-l);
}
