/* define the layout and structure of the entire page */

.l-header {
}

.l-main {
	margin-block-start: var(--sp-l);
}

.l-content {
	max-inline-size: 800px;
	padding-inline: var(--sp-m);
	margin-inline: auto;
}

.l-footer {
	position: sticky;
	top: 100vh;
	margin-block-start: calc(var(--sp-l) * 2);
}
