/* eliminate differences between browsers */

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	scroll-behavior: smooth;
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
	hanging-punctuation: allow-end;
	word-break: auto-phrase;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin: 0;
}

ul,
ol {
	list-style: none;
}

body {
	min-height: 100vh;
}

h1,
h2,
h3,
h4 {
	text-wrap: pretty;
}

a {
	text-decoration-skip-ink: none;
	color: currentColor;
	text-decoration: none;
	word-break: break-all;
}

p a {
	text-decoration: underline;
}

img,
picture {
	border: none;
	vertical-align: top;
	max-width: 100%;
	height: auto;
	font-style: italic;
}

input,
button,
textarea,
select {
	font: inherit;
}

textarea:not([rows]) {
	min-height: 3em;
}

b,
strong {
	font-weight: bolder;
}

table {
	table-layout: fixed;
	border-collapse: collapse;
	width: 100%;
}

a,
area,
button,
[role="button"],
input:not([type="range"]),
label,
select,
summary,
textarea {
	touch-action: manipulation;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	letter-spacing: inherit;
}

button {
	cursor: pointer;
	background: none;
	border: none;
	font-size: inherit;
	color: inherit;
}

:target {
	scroll-margin-block: 5ex;
}

@media (prefers-reduced-motion: reduce) {
	* {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}
