---
// import { SITE_TITLE } from "@/consts";
// import { LOCALES, useTranslations, type Lang } from "@/i18n";
// import Layout from "@/layouts/Layout.astro";
// const t = useTranslations(Astro.currentLocale as Lang);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404</title>
  </head>
  <body>
    <h1>404 global</h1>
  </body>
</html>
