---
// Redirect to 404 page for user's system locale
// Basically, you don't need to edit this file.

import { LOCALES, DEFAULT_LOCALE } from "@/i18n";

const langs = Object.keys(LOCALES);
const baseUrl = import.meta.env.PROD ? Astro.site : "/";
const defaultLocale = DEFAULT_LOCALE;
---

<html lang={DEFAULT_LOCALE}>
  <head>
    <meta charset="UTF-8" />
    <title>404 PAGE NOT FOUND</title>
    <link rel="canonical" href={Astro.site} />

    <noscript>
      <meta
        http-equiv="refresh"
        content={`0;url=${baseUrl + DEFAULT_LOCALE}/404/`}
      />
    </noscript>

    <script is:inline define:vars={{ langs, baseUrl, defaultLocale }}>
      if (langs.includes(location.pathname.split("/")[1])) {
        localStorage.userAccessPath = location.pathname;
        location.href = `${baseUrl + location.pathname.split("/")[1]}/404/`;
      } else if (
        localStorage.selectedLang &&
        langs.includes(localStorage.selectedLang)
      ) {
        localStorage.userAccessPath =
          "/" + localStorage.selectedLang + location.pathname;
        location.href = `${baseUrl + localStorage.selectedLang}/404/`;
      } else {
        localStorage.userAccessPath = "/" + defaultLocale + location.pathname;
        location.href = `${baseUrl + defaultLocale}/404/`;
      }
    </script>
  </head>
  <body>
    <h1>404 PAGE NOT FOUND</h1>
  </body>
</html>
