---
// Redirect to 404 page for user's system locale

import { LOCALES, DEFAULT_LOCALE } from "@/i18n";

const langs = Object.keys(LOCALES);
const baseUrl = import.meta.env.PROD ? Astro.site : "/";
---

<html lang={DEFAULT_LOCALE}>
  <head>
    <meta charset="UTF-8" />
    <title>404 PAGE NOT FOUND</title>
    <link rel="canonical" href={Astro.site} />

    <noscript>
      <meta
        http-equiv="refresh"
        content={`0;url=${baseUrl + DEFAULT_LOCALE}/404/`}
      />
    </noscript>

    <script is:inline define:vars={{ langs, baseUrl }}>
      localStorage.userAccessPath = location.pathname;

      if (langs.includes(location.pathname.split("/")[1])) {
        location.href = `${baseUrl + location.pathname.split("/")[1]}/404/`;
      } else if (localStorage.selectedLang) {
        location.href = `${baseUrl + localStorage.selectedLang}/404/`;
      } else {
        const userLang = navigator.language.toLowerCase();

        if (langs.includes(userLang)) {
          location.href = `${baseUrl + userLang}/404/`;
        } else if (langs.includes(userLang.split("-")[0])) {
          location.href = `${baseUrl + userLang.split("-")[0]}/404/`;
        } else {
          location.href = `${baseUrl + DEFAULT_LOCALE}/404/`;
        }
      }

      // TODO
      // URLにlangが入ってない場合はユーザー言語にリダイレクトする
      // /setup/ → /en/setup/
    </script>
  </head>
  <body>
    <h1>404 PAGE NOT FOUND</h1>
  </body>
</html>
