---
// Redirect to Top page for user's system locale

import { LOCALES, DEFAULT_LOCALE } from "@/i18n";

const langs = Object.keys(LOCALES);
const baseUrl = import.meta.env.PROD ? Astro.site : "/";
---

<html lang={DEFAULT_LOCALE}>
  <head>
    <meta charset="UTF-8" />
    <title>redirect...</title>

    <noscript>
      <meta
        http-equiv="refresh"
        content={`0;url=${baseUrl + DEFAULT_LOCALE}/`}
      />
    </noscript>

    <script is:inline define:vars={{ langs, baseUrl }}>
      if (localStorage.selectedLang) {
        location.href = `${baseUrl + localStorage.selectedLang}/`;
      } else {
        const userLang = navigator.language.toLowerCase();

        if (langs.includes(userLang)) {
          location.href = `${baseUrl + userLang}/`;
        } else if (langs.includes(userLang.split("-")[0])) {
          location.href = `${baseUrl + userLang.split("-")[0]}/`;
        } else {
          location.href = `${baseUrl + DEFAULT_LOCALE}/`;
        }
      }
    </script>
  </head>
  <body>
    <h1>redirect...</h1>
  </body>
</html>
