---

---

<footer class="l-footer">
  <a href="https://hira.page/" target="_blank">
    © Akira HIRATA {new Date().getFullYear()}.
  </a>
</footer>

<style>
  footer {
    background: var(--color-theme);
    text-align: center;
    color: var(--color-base);
    padding-block: var(--sp-l);
  }
</style>
