---

---

<footer class="l-footer">
  <div class="l-content">
    <a href="/">
      <img src="/img/logo-unext-white.svg" alt="U-NEXT" />
    </a>
    <!-- GitHub Link -->
  </div>
</footer>

<style>
  footer {
    background: var(--color-main);
    text-align: center;
    color: var(--color-base);
    padding-block: var(--sp-l);
    position: sticky;
    top: 100vh;
  }
</style>
