---

---

<footer class="l-footer">
  <div class="l-content">Fotter</div>
</footer>

<style>
  footer {
    background: var(--color-theme);
    text-align: center;
    color: var(--color-base);
    padding-block: var(--sp-l);
  }
</style>
