---
import LanguageSelect from "@/components/LanguageSelect.astro";
import { useTranslations, type Lang } from "@/i18n";
import { getRelativeLocaleUrl } from "astro:i18n";
const t = useTranslations(Astro.currentLocale as Lang);

const locale = Astro.currentLocale as Lang;
---

<nav class="l-nav">
  <h1>
    <a href={getRelativeLocaleUrl(locale, "/")}> i18n Starter </a>
  </h1>

  <ul>
    <li>
      <a href={getRelativeLocaleUrl(locale, "/about")}>
        {t({ ja: "概要", en: "ABOUT", "zh-cn": "关于", ar: "حول" })}
      </a>
    </li>
  </ul>

  <LanguageSelect />
</nav>

<style>
  nav {
    background-color: var(--color-base);
    display: grid;
    place-content: center;
    border-right: solid 2px var(--color-main);
  }

  h1 {
    font-size: 32px;
    margin-top: calc(-1 * var(--sp-l));
    img {
      width: 4.2em;
      aspect-ratio: 2;
    }
    p {
      line-height: 1;
    }
    .line1 {
      margin: 0.6em 0 0;
    }
    .line2 {
      margin: 0.2em 0 0;
      font-size: 0.95em;
    }
  }

  ul {
    margin-top: var(--sp-l);
    font-size: 1.2rem;
    li {
      margin-top: var(--sp-s);
    }
    a {
      display: block;
      padding: 0.25em;
      border-radius: var(--r-m);
      &:hover {
        background-color: var(--color-main);
        color: var(--color-base);
      }
    }
  }
</style>
