---
// Header & Navigation UI displayed on each page.

import LocaleSelect from "@/components/i18n/LocaleSelect.astro";
import { Image } from "astro:assets";
import { useTranslations, type Lang } from "@/i18n";
import { getRelativeLocaleUrl } from "astro:i18n";
const t = useTranslations(Astro.currentLocale as Lang);

import AstroImage from "@/assets/astro-logo.svg";

const locale = Astro.currentLocale as Lang;

const isActive = (path: string) =>
  getRelativeLocaleUrl(locale, path) === Astro.url.pathname;
---

<header class="l-header">
  <h1 dir="ltr">
    <a href={getRelativeLocaleUrl(locale, "/")}>
      <Image src={AstroImage} alt="Astro" />
      i18n Starter
    </a>
  </h1>

  <LocaleSelect />

  <nav class="l-content">
    <ul>
      <li>
        <a
          href={getRelativeLocaleUrl(locale, "/setup")}
          class={isActive("/setup") ? "active" : null}
        >
          {t({ ja: "設定", en: "Setup", "zh-cn": "设置", ar: "إعداد" })}
        </a>
      </li>

      <li>
        <a
          href={getRelativeLocaleUrl(locale, "/page")}
          class={isActive("/page") ? "active" : null}
        >
          {
            t({
              ja: "ページの追加",
              en: "Add Page",
              "zh-cn": "添加页面",
              ar: "إضافة صفحة",
            })
          }
        </a>
      </li>

      <li>
        <a
          href={getRelativeLocaleUrl(locale, "/feature")}
          class={isActive("/feature") ? "active" : null}
        >
          {
            t({
              ja: "その他の機能",
              en: "Features",
              "zh-cn": "特性",
              ar: "الميزات",
            })
          }
        </a>
      </li>

      <li class="en-only">
        <a
          href={getRelativeLocaleUrl(locale, "/monolingual")}
          class={isActive("/monolingual") ? "active" : null}
        >
          Monolingual
        </a>
      </li>

      <li>
        <a
          href={getRelativeLocaleUrl(locale, "/blog")}
          class={isActive("/blog") ? "active" : null}
        >
          {t({ ja: "ブログ", en: "Blog", "zh-cn": "博客", ar: "مدونة" })}
        </a>
      </li>

      <li>
        <a
          href="https://github.com/psephopaiktes/astro-i18n-starter"
          target="_blank"
        >
          GitHub
          <span class="material-icons-sharp dir">open_in_new</span>
        </a>
      </li>
    </ul>
  </nav>
</header>

<style>
  * {
    flex-wrap: wrap;
    justify-content: center;
  }

  header {
    display: grid;
    place-items: center;
    gap: var(--sp-s);
  }

  h1 {
    margin-block-start: var(--sp-l);
    margin-inline-start: -0.5em;
    font-size: 40px;
    font-family: var(--english-font);
    font-weight: 900;
    @media (width < 480px) {
      font-size: 28px;
    }

    a {
      display: flex;
      align-items: center;
    }
    img {
      width: 6em;
      position: relative;
      inset: 0.1em;
    }
  }

  nav {
    display: flex;
    align-items: center;
    gap: var(--sp-m);
  }
  ul {
    display: flex;
    gap: var(--sp-s);
    margin-block-start: var(--sp-s);

    .en-only {
      position: relative;
      &:not(:lang(en))::before {
        content: "EN";
        position: absolute;
        inset: -0.4em -0.6em auto auto;
        font-size: 0.8em;
        font-weight: 900;
        color: var(--color-main);
        opacity: 0.6;
      }
    }

    a {
      font-size: 1.05rem;
      display: block;
      font-weight: 600;
      letter-spacing: 0.05em;
      padding-block: 0.2em;
      padding-inline: 0.4em;
      border-radius: 4px;
      &:hover,
      &:active {
        background-color: color-mix(
          in srgb,
          var(--color-theme) 5%,
          transparent
        );
      }
      &.active {
        pointer-events: none;
        color: var(--color-theme);
      }
      .material-icons-sharp {
        opacity: 0.6;
        margin-inline-start: -0.2em;
        font-size: 0.9em;
      }
    }
  }
</style>
