---
const url = Astro.url;
import { generateLocalePaths, useTranslations } from "@/i18n";

const t = useTranslations(Astro.currentLocale);
const lang = Astro.currentLocale == "ja" ? "en" : "ja";
const LocalePaths = generateLocalePaths(Astro.url);
---

<a href={LocalePaths[lang]}>
  <span class="material-icons-sharp"> translate </span>
  {t({ ja: "English", en: "日本語" })}
</a>

<style>
  a {
    display: block;
    margin-top: var(--sp-l);
    padding: 0.5em;
    background-color: color-mix(in srgb, var(--color-main) 10%, transparent);
    border-radius: var(--r-m);
    text-align: center;
    opacity: 0.7;

    &:hover {
      opacity: 1;
    }

    span {
      margin-inline: -0.1em 0.2em;
      opacity: 0.4;
    }
  }
</style>
