---
import NotTranslateCaution from "@/components/NotTranslateCaution.astro";
import { localeParams } from "@/i18n";
import Layout from "@/layouts/Layout.astro";
export const getStaticPaths = () => localeParams;

const title = "Monolingual Page";
---

<Layout {title}>
  <NotTranslateCaution usedLangs={["en"]} />

  <h1>{title}</h1>
  <p>Here is a sample page when only one language is set.</p>
</Layout>
