---
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import { LOCALES, getLocalePaths, type Lang, type Multilingual } from "@/i18n";

interface Props {
  title?: Multilingual;
  description?: Multilingual;
}

const {
  title = {
    en: "Astro i18n Starter",
    ja: "Astro i18n スターター",
    "zh-cn": "Astro i18n 入门",
    ar: "Astro i18n البداية",
  },
  description = {
    en: "A starter template for Astro with i18n support.",
    ja: "i18n 対応の Astro スターターテンプレート。",
    "zh-cn": "具有 i18n 支持的 Astro 入门模板。",
    ar: "قالب بداية لـ Astro مع دعم i18n.",
  },
} = Astro.props;

const locale = Astro.currentLocale as Lang;
---

<html lang={LOCALES[locale].lang || locale} dir={LOCALES[locale].dir || null}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title[locale]}</title>
    <meta name="description" content={description[locale]} />
    {
      getLocalePaths(Astro.url).map((props) => (
        <link
          rel="alternate"
          hreflang={LOCALES[props.lang].lang || props.lang}
          href={Astro.site?.origin + props.path}
        />
      ))
    }
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp"
      rel="stylesheet"
    />
  </head>

  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>
