---
// import type { CollectionEntry } from 'astro:content';
// type Props = CollectionEntry<'blog'>['data'];
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>title</title>
  </head>
  <body>
    <header></header>
    <main></main>
  </body>
</html>
